a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: #fff; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.top-header,
.bottom-footer {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cursor-pointer {
  cursor: pointer;
}
