a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: #fff; */
}

tr:last-child > td {
  border: none;
}

.landing-page {
  color: #fff;
}
.landing-page p,
.landing-page .p {
  color: #ffffffa6;
}
.landing-page .secondary-btn,
.landing-page .secondary-btn-lg {
  box-shadow: 0px 6px 18px 0px #06b6d41f;
  border: 1px solid #ffffff0f;
  background: #ffffff01;
  border-radius: 10px;
  color: #ffffffa6;
  font-size: 16px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.landing-page .primary-btn,
.landing-btn button,
.landing-page .primary-btn-lg {
  background: linear-gradient(90deg, #6366f1 0%, #06b6d4 100%) !important;
  border: 2px solid #000000 !important;
  box-shadow: 0px 6px 24px 0px #06b6d41f !important;
  border-radius: 14px !important;
  color: #051225 !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  font-family: "Inter", sans-serif !important;
}

.landing-page .secondary-btn-lg {
  font-size: 19px;
  padding: 12px;
  height: auto;
}

.landing-page .primary-btn-lg {
  font-size: 19px;
  height: auto;
  padding: 11px 15px;
}
.landing-page .primary-color {
  background: linear-gradient(90deg, #6366f1 0%, #06b6d4 100%) !important;
}

.landing-page .box2 {
  color: #e6eef8;
  background: #ffffff05;
  border: 1px solid #ffffff05;
}
.landing-page .big-heading {
  font-family: "IBM Plex Mono", monospace;
  font-size: 128px;
  box-shadow: 0px 4px 4px 0px #00000040;
  font-weight: 700;
  line-height: 128px;
  font-weight: 700;
  background: linear-gradient(90deg, #06b6d4 0%, #6366f1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.landing-page .box {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.02) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 1px solid #ffffff0f;
  backdrop-filter: blur(8px);
}

.landing-page .primary-btn.radius5px {
  border-radius: 5px !important;
}
